{% extends 'global/base.html' %}


{% block content %}
<div class="main-content center container">
    <h2>Dashboard {{ user }}</h2>
    {% include 'authors/partials/login_message.html' %}

    <div class="authors-dashboard-container">
        <h3>Your curriculums</h3>
        {% for data in personalData %}
            <p>CPF: {{ data.cpf }}</p>
        {% endfor %}

            
            {% comment %} <p>Birthday: {{ data.birthday }}</p>
            <p>Marital Status: {{ data.marital_status }}</p>
            <p>User: {{ data.user.username }}</ {% endcomment %}
        {% comment %} {% empty %}
            <p>Nenhum curriculo cadastrado</p> {% endcomment %}
        

        


        <p>{{test}}</p>
    </div>
</div>

{% comment %} {% include 'global/partials/form.html' %} {% endcomment %}
{% endblock content %}