{% extends 'global/base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class="main-content center container">
        <h2>Login</h2>
        {% include 'authors/partials/login_message.html' %}
        <div class="login-status">
            <span>Don't have an account, </span>
            <a href="{% url 'authors:register' %}">click here to register</a>
        </div>
    </div>

    {% include 'global/partials/message.html' %}    


    {% if not user.is_authenticated %}
        {% include 'global/partials/form.html' %}
    {% endif %}
{% endblock content %}